<div class="movies">

  <!-- Show a loading message while data is being fetched -->
  <div *ngIf="loading$ | async" class="loading-spinner">
    <app-loading></app-loading>
  </div>

  <!-- Display error message if there is an error -->
  <div *ngIf="error$ | async as error">Error: {{ error.status_message }}</div>

  <!-- Iterate through movies and display each one using the MediaBoxComponent -->
  <div *ngIf="data$">
    <app-media-box-container [mediaItems]=data$ [mode]="'movie'"></app-media-box-container>
  </div>

</div>
