<header class="header">
  <div class="header__title-container">
    <h1 class="header__title">Oper Interview Movies Project</h1>
    <h2 class="header__subtitle">by Mahta Ghandehari</h2>
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"><a routerLink="/tv-shows" class="header__link">TV Shows</a></li>
      <li class="header__item"><a routerLink="/movies" class="header__link">Movies</a></li>
    </ul>
  </nav>
  <input type="text" placeholder="Search..." class="header__search" />
</header>
